body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

canvas {
    border: 1px solid #fff;
}

#score {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

#message {
    color: #ff0000;
    font-size: 24px;
    margin-top: 10px;
}
